/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family-main: "Inter", sans-serif;
  --font-family-accent: "PressStart2P", fantasy;
  --font-weight-normal-wght: 410;
  --font-weight-bold-wght: 715;

  --bg-light-color: #e7e7e7;
  --bg-middle-color: #d3d3d3;
  --bg-dark-color: #1a1a1a;

  --stroke-color: #fff;
  --main-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: red;
  --heart-body-color: red;
}
